rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper function
    function isAuthenticated() {
      return request.auth != null;
    }

    // Allow read/write for all authenticated users for now
    // (Used for Activity Posters and Profile Pictures)
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
